# Practical_1: Variables and Assignments

### Exercise 1:
Declare a variable `x` and assign it the value `10`.

In [4]:
x = 10

### Exercise 2:
Assign the value `True` to a variable called `is_valid`.

In [6]:
is_valid = True

### Exercise 3:
Create a string variable `name` with the value "Python Programming".

In [7]:
name = "Python Programming"

### Exercise 4:
Assign the result of `5 + 3` to a variable `sum_result`.

In [8]:
sum_result = 5+3
print(sum_result)

8

### Exercise 5:
Assign multiple variables in one line: `a = 5`, `b = 10`, `c = 15`.

In [9]:
a, b, c = 5, 10, 15

### Exercise 6:
Assign the value of one variable `x` to another variable `y`.

In [12]:
x = 10
y = x
print(y)

10

### Exercise 7:
Assign a floating-point number `9.8` to a variable `gravity`.

In [ ]:
gravity = 9.8

### Exercise 8:
Create a variable `country` and assign it the string value of your favorite country.

In [13]:
country = "Madagascar"
print(country)

Madagascar

### Exercise 9:
Change the value of variable `age` from `25` to `26` in two separate steps.

In [14]:
age , temp = 25, 26
age = temp
print(age)

26

### Exercise 10:
Use one variable to store the result of subtracting two numbers `20 - 7`.

In [15]:
substrac_result = 20 - 7
print(substrac_result)

13

### Exercise 11:
Assign an integer value and a floating-point value to two different variables.

In [20]:
an_integer , a_floating = 7, 7.0
print(type(an_integer))
print(type(a_floating))

<class 'int'>
<class 'float'>

### Exercise 12:
Assign a boolean value `False` to a variable `is_completed`.

In [22]:
is_completed = False
print(is_completed)

False

### Exercise 13:
Swap the values of two variables `x` and `y`.

In [ ]:
temp = x
x = y
y = temp

### Exercise 14:
Assign a complex number `3 + 4j` to a variable `complex_num`.

In [25]:
complex_num = complex(3, 4)
complex_num

(3+4j)

### Exercise 15:
Reassign a variable from an integer to a string.

In [27]:
a = 8
b = str(a)
print(type(a))
print(type(b))

<class 'int'>
<class 'str'>

### Exercise 16:
Create two variables `first_name` and `last_name`, and assign them your first and last names.

In [29]:
first_name = "Leonard"
last_name = "RAMIAKATRARIVO"
print(first_name, last_name)

Leonard RAMIAKATRARIVO

### Exercise 17:
Create a variable `temperature` and assign it the value of `35.5`.

In [30]:
 temperature = 35.5

### Exercise 18:
Assign the result of the multiplication of two numbers `8 * 6` to a variable `product`.

In [31]:
product = 8 * 6
product

48

### Exercise 19:
Assign a sentence of your choice to a variable `sentence`.

In [32]:
sentence = "I'm Leonard."
sentence

"I'm Leonard."

### Exercise 20:
Use an assignment to convert a string `'50'` into an integer variable `int_value`.

In [35]:
string = "50"
int_value = int(string)
print(type(string))
print(type(int_value))

<class 'str'>
<class 'int'>

### Exercise 21:
Assign the result of dividing `144` by `12` to a variable `quotient`.

In [36]:
quotient = 144 // 12
quotient

12

### Exercise 22:
Assign the remainder of `47 divided by 5` to a variable `remainder`

In [37]:
remainder = 47 % 5
remainder

2

### Exercise 23:
Create a variable `is_student` and assign it the value `True`.

In [38]:
is_student = True
is_student

True

### Exercise 24:
Use a variable to store the result of a modulo operation: `45 % 4`.

In [39]:
modulo = 45 % 4
modulo

1

### Exercise 25:
Create a variable `pi` and assign it the value `3.14159`.

In [ ]:
pi = 3.14159

### Exercise 26:
Create two variables `length` and `width`, assign them values, and calculate the area of a rectangle.

In [40]:
length = 7
width = 5
area = length * width
print(area)

35

### Exercise 27:
Assign a negative number to a variable `negative_value`.

In [41]:
negative_value = -97
print(negative_value)

-97

### Exercise 28:
Assign a string containing a special character (e.g., "Hello, World!") to a variable `greeting`.

In [42]:
greeting = "Hello, world!"
greeting

'Hello, world!'

### Exercise 29:
Create a variable `population` and assign it a large integer value (in billions).

In [43]:
population = 3000000000

### Exercise 30:
Use a variable to store the result of raising `2` to the power of `8`.

In [44]:
power_result = 2**8
power_result

256

### Exercise 31:
Assign a list of your favorite fruits to a variable `fruits`.

In [45]:
my_favorite_fruits = ['orange', 'bananas','leutchis', 'apple']
print(my_favorite_fruits)

['orange', 'bananas', 'leutchis', 'apple']

### Exercise 32:
Assign a tuple of three numbers to a variable `coordinates`.

In [46]:
coordinates = (5,7,11)
print(coordinates, type(coordinates))

(5, 7, 11) <class 'tuple'>

### Exercise 33:
Assign a dictionary with keys `name` and `age` to a variable `person`.

In [ ]:
person = {'name': 'Bob', 'age': 97}

### Exercise 34:
Use variables to store the sum of two floating-point numbers.

In [48]:
float_sum = 3.14 + 9.06
print(float_sum)

12.200000000000001

### Exercise 35:
Create a variable `is_sunny` and assign it the result of a comparison `10 > 5`.

In [49]:
is_sunny = 10 > 5
print(is_sunny)

True

### Exercise 36:
Assign a string and an integer to two different variables, then print both on one line.

In [50]:
string, integer = "My name is Bob.", 17
print(string, integer)

My name is Bob. 17

### Exercise 37:
Reassign a variable that originally held a number to a boolean value.

In [51]:
boolean = True
boolean = 1
print(boolean)

1

### Exercise 38:
Create a variable `is_weekend` and assign it the result of `False`.

In [52]:
is_weekend = False
is_weekend

False

### Exercise 39:
Assign a multi-line string to a variable `description`.

In [53]:
description = """ This is a multi-ligne.This is a multi-ligne.
This is a multi-ligne.This is a multi-ligne.This is a multi-ligne.
This is a multi-ligne."""
print(description)

 This is a multi-ligne.This is a multi-ligne.
This is a multi-ligne.This is a multi-ligne.This is a multi-ligne.
This is a multi-ligne.

### Exercise 40:
Use variables to store the result of the absolute value of `-25`.

In [54]:
absolute_value = abs(-25)
print(absolute_value)

25

### Exercise 41:
Assign the result of a floor division `100 // 6` to a variable `floor_div_result`.

In [55]:
floor_div_result = 100 // 6
print(floor_div_result)

16

### Exercise 42:
Assign the result of adding a floating-point number to an integer to a variable `mixed_sum`.

In [56]:
mixed_sum = 7.5 + 10
print(mixed_sum, type(mixed_sum))

17.5 <class 'float'>

### Exercise 43:
Use variables to store a combination of string concatenation.

In [57]:
concatenation  = "My name is" + " " + "Bob"
concatenation

'My name is Bob'

### Exercise 44:
Assign an empty list to a variable `empty_list`.

In [58]:
empty_list  = []
empty_list

[]

### Exercise 45:
Assign a boolean value based on the comparison of two variables `a = 10` and `b = 15`.

In [ ]:
a , b = 10, 15
boolean = a > b
print(boolean)

### Exercise 46:
Assign a long sentence to a variable and count its characters using `len()`.

In [59]:
sentence = "My name is Bob.I'm 97 years old."
print(len(sentence))

32

### Exercise 47:
Assign a fractional result `7 / 3` to a variable `division_result`.

In [60]:
div_result = 7 / 3
print(div_result)

2.3333333333333335

### Exercise 48:
Create a variable `speed` and assign it the value of 100 kilometers per hour.

In [61]:
speed = str(100) + " km per hour"
print(speed)

100 km per hour

### Exercise 49:
Assign a multi-variable equation like `y = 3x + 5` where `x = 4` to a variable `y`.

In [63]:
x = 4
y = 3*x + 5
print(y)

17

### Exercise 50:
Use variables to calculate and store the average of three numbers.

In [65]:
a , b, c = 5, 4, 6
average = (a + b + c) / 3
print(average)

5.0