# PyPro: Challenge 2

### This challenge is due on Saturday, October 5th, 2024, at 8pm.

`These exercises offer a diverse array of tasks that assess your comprehension of fundamental Python concepts such as loops, data types, string manipulations, list comprehensions, and higher-order functions.`

| Levels | Level Description | Estimated Completion Time per Exercise |
| :----- | :---------------: | -------------------------------------: |
| L1     | Beginner. The solutions can typically be found in standard textbooks. | 5 - 10 minutes |
| L2     | Intermediate. Requires problem-solving skills. Solutions are not directly found in textbooks. | 10 - 20 minutes |
| L3     | Advanced. You should be capable of using Python to solve more intricate problems involving libraries, data structures, and algorithms. | 20 - 30 minutes |

---

#### Question 1  
**Level 1**

**Task:**  
Develop a program to find all numbers between 2000 and 3200 (inclusive) that are divisible by 7 but not multiples of 5. Display these numbers as a single line of output, separated by commas.

---

In [48]:
resultat =[]
for i in range(2000,3201):
    if i % 7 == 0 and i % 5 != 0:
        resultat.append(i)
print(",".join(str(elt) for elt in resultat))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

#### Question 2  
**Level 1**

**Task:**  
Create a function that computes the factorial of a specified integer. Display the result in a single line of output. For example, if the input is:  
`8`  
Then, the output should be:  
`40320`

---

In [16]:
def factorial(n):
    if n < 0:
        return f"Not define"
    elif n == 0:
        return 1
    else:
        return n*factorial(n-1)

In [17]:
factorial(-3)

'Not define'

In [18]:
factorial(8)

40320

#### Question 3  
**Level 1**

**Task:**  
Given an integer `n`, generate a dictionary with entries (i, i*i) for all integers from 1 to `n` (inclusive). Print the resulting dictionary. For example, if the input is:  
`8`  
Then, the output should be:  
`{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}`

---

In [14]:
def generate_dict(n):
    dictionary={}
    for i in range(1,n+1):
        dictionary[i]= i*i
    print(dictionary)

In [15]:
generate_dict(6)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

#### Question 4  
**Level 1**

**Task:**  
Create a program that reads a series of comma-separated numbers from the console, then generates and prints both a list and a tuple containing those numbers. For example, if the input is:  
`34,67,55,33,12,98`  
The output should be:  
`['34', '67', '55', '33', '12', '98']`  
`('34', '67', '55', '33', '12', '98')`

---

In [22]:
def generate_list_tuple(*args):
    liste = []
    tuples =()
    for i in args:
        liste.append(i)
    print(liste)
    print(tuple(liste))

In [23]:
generate_list_tuple(34,67,55,33,12,98)

[34, 67, 55, 33, 12, 98]
(34, 67, 55, 33, 12, 98)

#### Question 5  
**Level 1**

**Task:**  
Create a class that has two methods:  
- `getString`: To accept a string input from the console.  
- `printString`: To display the string in uppercase.  
Include a simple test function to demonstrate the class methods.

---

#### Question 6  
**Level 2**

**Task:**  
Write a program that calculates and prints values based on the formula:  
$$ Q = \sqrt{\frac{2 \times C \times D}{H}} $$  
Here, C and H are fixed constants with values 50 and 30, respectively. `D` is a variable whose values are input to the program as a comma-separated sequence. For example, if the input is:  
`100,150,180`  
Then, the output should be:  
`18,22,24`

---

In [19]:
from math import sqrt

In [34]:

def formula_replace_D(*args):
    C=50
    H=30
    L = []
    for D in args:
        Q=int(sqrt((2*C*D)/H))
        L.append(Q)
    print(",".join(str(elt) for elt in L))

In [35]:
formula_replace_D(100,150,180)

18,22,24

#### Question 7  
**Level 2**

**Task:**  
Write a program that accepts two numbers, X and Y, as input and generates a 2-dimensional list. The value at the i-th row and j-th column should be the product of `i` and `j`. For example, if the input is:  
`3,5`  
The output should be:  
`[[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]`

---

In [50]:
def generates_list_2(X,Y):
    L = []
    for i in range(X):
        L.append([i*j for j in range(Y)])
    return L

In [51]:
generates_list_2(3,5)

[[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

#### Question 8  
**Level 2**

**Task:**  
Write a program that accepts a comma-separated list of words, sorts them alphabetically, and then prints them in a single line, separated by commas. For example, if the input is:  
`without,hello,bag,world`  
The output should be:  
`bag,hello,without,world`

---

In [67]:
def sorts_aphabetically(args):
    liste = args.split(",")
    alph = sorted(liste)
    return ",".join(alph)

In [68]:
sorts_aphabetically("without,hello,bag,world")

'bag,hello,without,world'

#### Question 9  
**Level 2**

**Task:**  
Create a program that reads multiple lines of input and outputs each line with all characters converted to uppercase. For example, if the input is:  
`Hello world`  
`Practice makes perfect`  
The output should be:  
`HELLO WORLD`  
`PRACTICE MAKES PERFECT`

---

In [78]:
multilines ="""Hello words
practice makes perfect
imagination is more important than knowledge"""
multi_uppercase = multilines.upper()
print(multi_uppercase)

HELLO WORDS
PRACTICE MAKES PERFECT
IMAGINATION IS MORE IMPORTANT THAN KNOWLEDGE

#### Question 10  
**Level 2**

**Task:**  
Write a program that reads a sequence of whitespace-separated words, removes all duplicate words, sorts them alphanumerically, and then prints the resulting words. For example, if the input is:  
`hello world and practice makes perfect and hello world again`  
The output should be:  
`again and hello makes perfect practice world`

---

In [76]:
def remove_alph(sentence):
    liste = sentence.split(" ")
    A = set(liste)
    B = sorted(list(A))
    return " ".join(B)

In [77]:
remove_alph("hello world and practice makes perfect and hello world again")

'again and hello makes perfect practice world'

#### Question 11  
**Level 2**

**Task:**  
Create a program that takes a sequence of 4-digit binary numbers, checks which ones are divisible by 5, and prints them as a comma-separated sequence. For example, if the input is:  
`0100,0011,1010,1001`  
The output should be:  
`1010`  
Note: Assume the input is provided through the console.

---

In [100]:
def binary_to_decimal(binary):
    i=3
    dec = 0
    while i >= 0:
        for elt in binary:
            dec = dec + int(elt) * 2**i
            i = i - 1
    return dec

In [104]:
binary_to_decimal("1111")

15

In [114]:
def digit_bin_4_div_5(liste_bin):
    L = []
    A = liste_bin.split(",")
    for b in A:
        if binary_to_decimal(b) % 5 == 0:
            L.append(b)
    print(",".join(str(elt) for elt in L))

In [115]:
digit_bin_4_div_5("0100,0011,1010,1001")

1010

#### Question 12  
**Level 2**

**Task:**  
Develop a program that finds all numbers between 1000 and 3000 (inclusive) where each digit is an even number. Print the results as a comma-separated sequence in a single line.

---

In [1]:
def is_each_digit_is_even(n):
    A = str(n)
    B = []
    C = []
    for i in A:
        B.append(i)
    for i in A:
        if int(i) % 2 == 0:
            C.append(i)
    if B == C :
        return True
    else :
        return False

In [3]:
is_each_digit_is_even(1032)

False

In [6]:
is_each_digit_is_even(2024)

True

In [9]:
lis_each_dig_even = []
for j in range(1000,3001):
    if is_each_digit_is_even(j) == True:
        lis_each_dig_even.append(j)
print(",".join(str(elt) for elt in lis_each_dig_even))

2000,2002,2004,2006,2008,2020,2022,2024,2026,2028,2040,2042,2044,2046,2048,2060,2062,2064,2066,2068,2080,2082,2084,2086,2088,2200,2202,2204,2206,2208,2220,2222,2224,2226,2228,2240,2242,2244,2246,2248,2260,2262,2264,2266,2268,2280,2282,2284,2286,2288,2400,2402,2404,2406,2408,2420,2422,2424,2426,2428,2440,2442,2444,2446,2448,2460,2462,2464,2466,2468,2480,2482,2484,2486,2488,2600,2602,2604,2606,2608,2620,2622,2624,2626,2628,2640,2642,2644,2646,2648,2660,2662,2664,2666,2668,2680,2682,2684,2686,2688,2800,2802,2804,2806,2808,2820,2822,2824,2826,2828,2840,2842,2844,2846,2848,2860,2862,2864,2866,2868,2880,2882,2884,2886,2888

#### Question 13  
**Level 2**

**Task:**  
Write a program that counts the number of letters and digits in a given sentence. For example, if the input is:  
`hello world! 123`  
The output should be:  
`LETTERS 10`  
`DIGITS 3`

---

In [19]:
def number_of_letter_and_digit(sentence):
    num_letter = 0
    num_digit = 0
    for elt in sentence:
        if elt.isdigit():
            num_digit += 1
        elif elt.isalpha():
            num_letter += 1
    print("LETTERS ",num_letter)
    print("DIGITS ",num_digit)

In [20]:
number_of_letter_and_digit("hello world! 123")

LETTERS  10
DIGITS  3

#### Question 14  
**Level 2**

**Task:**  
Create a program that counts and prints the number of uppercase and lowercase letters in a given sentence. For example, if the input is:  
`Hello world!`  
The output should be:  
`UPPER CASE 1`  
`LOWER CASE 9`

---

In [22]:
def num_upp_and_low(sentence):
    num_up = 0
    num_low = 0
    for elt in sentence:
        if elt in "ABCDEFGHIJKLMNOPQRSTUXYWZ":
            num_up += 1
        if elt in "abcdefghijklmnopqrstuxywz":
            num_low += 1
    print("UPPER CASE ",num_up)
    print("LOWER CASE ",num_low)

In [23]:
num_upp_and_low("Hello world!")

UPPER CASE  1
LOWER CASE  9